@import "~src/assets/styles/variables";

.cart-container {
  height: 100%;
}
.list-wrapper {
  width: 100%;
  position: relative;
}

.cart-item {
  height: 200px;
  overflow: hidden;
  display: flex;
  background: #fff;
  padding: 15px 0;
  .cart-item-image {
    height: 300px;
    margin-top: -150px;
  }

  .cart-item-panel {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .cart-item-actions {
      align-self: flex-end;
    }
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    span {
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.75rem;
    }
    .cart-item-name {
      color: #000;
      font-size: 1.2rem;
    }
    .cart-item-sku {
      margin-bottom: 1rem;
    }
    .cart-item-price {
      font-size: 1.3rem;
      font-family: "Anton", sans-serif;
      margin-bottom: 1rem;
    }
    .cart-item-size {
      margin-bottom: 0.5rem;
    }
  }
}

hr {
  margin: 0 auto;
  width: 90%;
}

.cart-list {
  padding-bottom: $height-cart-summary;
}

.empty {
  position: absolute;
  width: 100%;
  color: rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  span {
    font-size: 2rem;
  }
  animation: fadeIn 1000ms ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: $xs-screen) {
  .summary-wrapper {
    width: 35%;
  }
  .cart-list {
    padding-bottom: 0;
    flex: 2;
  }
  .cart-wrapper {
    display: flex;
    height: 100%;
    position: relative;
  }

  .list-wrapper {
    width: 65%;
  }
}
