<div class="cart-container container">
  <div class="cart-wrapper">
    <div class="list-wrapper">
      <ng-template #empty>
        <div class="empty">
          <i class="far fa-meh-rolling-eyes"></i>
          <span> Your cart is empty</span>
        </div>
      </ng-template>
      <ul
        class="list cart-list first-step"
        *ngIf="cartItems.length; else empty"
        [@removeItem]="'true'"
      >
        <li
          *ngFor="let item of cartItems; let last = last; trackBy: trackByFn"
          [@removeItem]="'true'"
        >
          <app-cart-item
            [item]="item"
            (itemsChange)="onItemsChange($event)"
          ></app-cart-item>
          <hr *ngIf="!last" />
        </li>
      </ul>
    </div>
    <div class="summary-wrapper">
      <app-cart-summary
        [buttonEnabled]="!cartItems.length"
        [showButton]="true"
      ></app-cart-summary>
    </div>
  </div>
</div>
<app-footer></app-footer>
