@import "~src/assets/styles/variables";

.homepage-container {
}

.banners {
  width: 100%;
  display: grid;
  grid-template-areas:
    "first"
    "second"
    "third"
    "fourth";
  &-item {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;
  }
  &-img {
    width: 100%;
    margin: 0;
  }
  &-text {
    text-transform: uppercase;
    position: absolute;
    font-family: "Open Sans Condensed", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 0;
    b {
      color: inherit;
      font-weight: 700 !important;
    }
  }
  .bottom {
    bottom: 0;
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }
  .top {
    top: 0;
  }
  .middle {
    top: calc(50% - 38px);
  }
  .align {
    margin: 0 auto;
  }
  .bigger-font {
    font-size: 1.5rem;
  }
}

.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}
.fourth {
  grid-area: fourth;
}

@media screen and (min-width: $xl-screen) {
  .banners {
    margin: 10px 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
      "third first"
      "third second"
      "third fourth";
  }
}
