@import "~src/assets/styles/variables";

.form-error {
  display: block;
  margin-top: 0.3rem;
  color: $store-red-lighter;
}

.shipping-container {
  display: grid;
}

app-cart-summary {
  display: none;
}

@media screen and (min-width: $xs-screen) {
  .shipping-container {
    grid-template-columns: 65% 35%;
  }

  app-cart-summary {
    display: block;
  }
}
