@import "~src/assets/styles/variables";

.cart-item {
  overflow: hidden;
  display: flex;
  background: #fff;
  padding: 15px 0;
  justify-content: space-around;
  .cart-item-image {
    height: 200px;
    padding: 0 1rem;
  }

  .cart-item-panel {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .cart-item-actions {
      align-self: flex-end;
    }
  }

  &-details {
    display: flex;
    padding-right: 1rem;
    flex-direction: column;
    span {
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.75rem;
    }
    .cart-item-name {
      color: #000;
      font-size: 1.2rem;
    }
    .cart-item-sku {
      margin-bottom: 1rem;
    }
    .cart-item-price {
      font-size: 1.3rem;
      font-family: "Anton", sans-serif;
      margin-bottom: 1rem;
    }
    .cart-item-size {
      //   margin-bottom: 0.5rem;
    }
    .cart-item-amount {
      margin: 0.5rem 0 0.3rem;
      line-height: 0.75rem;
    }
  }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:host-context(.choose-size) .cart-item {
  .cart-item-details {
    .cart-item-name {
      font-size: 2.2rem;
    }
    .cart-item-sku {
      font-size: 1.2rem;
    }
    .cart-item-price {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: $xl-screen) {
  :host-context(.cart-list) .cart-item {
    justify-content: space-between;
    &-details {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex: 1;

      .cart-item-price {
        margin: 0;
      }
      .cart-item-sku {
        margin: 0;
      }
      .counter {
        flex-direction: row;
      }
    }
  }

  :host-context(.first-step) .cart-item {
    &-details {
      .cart-item-amount {
        display: none;
      }
    }
  }
}
