<div class="subcategories-container" *ngIf="subcategories.length">
  <ul
    class="list subcategories-list"
    [class.column-list]="isJewellery(subcategories[0])"
  >
    <li *ngFor="let subcategory of subcategories" class="subcategory-block">
      <span class="subcategory-label" (click)="goToCategory(subcategory.id)">
        {{ subcategory.name }}
      </span>
      <img
        (click)="goToCategory(subcategory.id)"
        *ngIf="subcategory.img_url"
        [src]="'assets/shoes/' + subcategory.img_url"
        class="category-img"
        alt="subcategory-image"
      />
      <ul class="list">
        <li
          *ngFor="let grandSubcategoryId of subcategory.children"
          class="grand-subcategory"
          (click)="goToCategory(grandSubcategoryId)"
        >
          {{ getGrandSubcategory(grandSubcategoryId)?.name }}
        </li>
      </ul>
    </li>
    <li>
      <span class="subcategory-label">Recommendations</span>
      <ul class="list recommendations">
        <li *ngFor="let recommend of recommendations">
          <img [src]="'assets/banners/' + recommend" alt="" />
        </li>
      </ul>
    </li>
  </ul>
</div>
