@import "~src/assets/styles/variables";

.container {
  padding: 1rem;
  width: 100vw;
  //   width: 100%;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.list-item {
  min-height: 270px;
}
