.cart-item {
  height: 175px;
  overflow: hidden;
  display: flex;
  background: #fff;
  .cart-item-image {
    height: 300px;
    margin-top: -150px;
  }
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
}
.cart-summary {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  .block {
    margin-bottom: 1rem;
  }
}

hr {
  margin: 0 auto;
  width: 90vw;
}
