<div class="container">
  <ul class="list cart-list">
    <li class="cart-item" *ngFor="let item of cartItems">
      <img
        [src]="'assets/shoes/' + item.image_url"
        alt="cart item image"
        class="cart-item-image"
      />
      <div class="cart-item-details">
        <span class="cart-item-name">{{ item?.name | uppercase }}</span>
        <span class="cart-item-sku">{{ item?.sku }}</span>
        <span class="cart-item-price">{{
          item?.price | currency: "EUR":"symbol"
        }}</span>
      </div>
    </li>
  </ul>
  <div class="cart-summary">
    <div class="quote">
      <span>Total amount: </span
      ><span>{{ totalCost | currency: "EUR":"symbol" }}</span>
    </div>
    <button
      class="button step-back-button w-100"
      [routerLink]="['/checkout', 'payment']"
    >
      Go back
    </button>
    <button
      class="button checkout-button"
      [routerLink]="['/checkout', 'order-complete']"
    >
      Place order
    </button>
  </div>
</div>
