@import "~src/assets/styles/variables";

.cart-summary {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  grid-template-areas:
    "address "
    "payment"
    "delivery";

  .block {
    margin-bottom: 1rem;
  }
}

.address {
  grid-area: address;
}
.payment {
  grid-area: payment;
}
.delivery {
  grid-area: delivery;
}

hr {
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  padding: 1rem;
}

@media screen and (min-width: $xs-screen) {
  .cart-summary {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "address payment"
      "address delivery";
  }
}
