<div class="container">
  <ul class="list cart-list">
    <li class="cart-item" *ngFor="let item of cartItems">
      <app-cart-item [item]="item" [counter]="false"></app-cart-item>
    </li>
  </ul>
  <div class="cart-summary">
    <div class="quote">
      <span>Total amount: </span
      ><span>{{ totalCost | currency: "EUR":"symbol" }}</span>
    </div>
    <button
      class="button step-back-button w-100"
      [routerLink]="['/checkout', 'payment']"
    >
      Go back
    </button>
    <button
      class="button checkout-button"
      [routerLink]="['/checkout', 'order-complete']"
    >
      Place order
    </button>
  </div>
</div>
