<div class="container">
  <ul class="list cart-list">
    <li class="cart-item" *ngFor="let item of cartItems">
      <img
        [src]="'assets/shoes/' + item.image_url"
        alt="cart item image"
        class="cart-item-image"
      />
      <div class="cart-item-panel">
        <div class="cart-item-details">
          <span class="cart-item-name">{{ item?.name | uppercase }}</span>
          <span class="cart-item-sku">{{ item?.sku }}</span>
          <span class="cart-item-price">{{
            item?.price | currency: "EUR":"symbol"
          }}</span>
          <span class="cart-item-size">SIZE {{ item?.size }}</span>
          <span class="cart-item-amount">AMOUNT {{ item?.amount }}</span>
        </div>
        <div class="cart-item-actions">
          <app-counter></app-counter>
        </div>
      </div>
    </li>
  </ul>
  <div class="cart-summary">
    <div class="quote">
      <span>Total amount: </span
      ><span>{{ totalCost | currency: "EUR":"symbol" }}</span>
    </div>
    <button
      class="button checkout-button"
      [routerLink]="['/checkout', 'shipping']"
    >
      To checkout
    </button>
  </div>
</div>
