<div class="container">
  <ul class="list cart-list">
    <li *ngFor="let item of cartItems; let last = last; trackBy: trackByFn">
      <div class="cart-item">
        <img
          [src]="'assets/shoes/' + item.image_url"
          alt="cart item image"
          class="cart-item-image"
        />
        <div class="cart-item-details">
          <span class="cart-item-name">{{ item?.name | uppercase }}</span>
          <span class="cart-item-sku">{{ item?.sku }}</span>
          <span class="cart-item-price">{{
            item?.price | currency: "EUR":"symbol"
          }}</span>
          <span class="cart-item-size">SIZE: {{ item?.size }}</span>
          <span class="cart-item-amount">AMOUNT:</span>
          <app-counter
            [amount]="item.amount"
            (add)="onAdd(item, $event, item.size)"
            (subtract)="onSubtract(item, $event, item.size)"
          ></app-counter>
        </div>
      </div>
      <hr *ngIf="!last" />
    </li>
  </ul>
  <div class="cart-summary">
    <div class="quote">
      <span>Total amount: </span
      ><span>{{ totalCost | currency: "EUR":"symbol" }}</span>
    </div>
    <button
      class="button checkout-button"
      [routerLink]="['/checkout', 'shipping']"
    >
      To checkout
    </button>
  </div>
</div>
