<div
  @slideDown
  *ngIf="show"
  class="modal-wrapper"
  [class.choose-size]="!item.size"
>
  <div class="modal-header">
    <h4 *ngIf="item.size" class="modal-title">You added new product to cart</h4>
    <h4 *ngIf="!item.size" class="modal-title">Choose size</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-cart-item [item]="item" [counter]="false"></app-cart-item>
  </div>
  <div class="modal-footer" *ngIf="item.size">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="close()"
      [routerLink]="['/subcategory', item.category_id]"
    >
      Continue shopping
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="close()"
      [routerLink]="['/cart']"
    >
      Go to cart
    </button>
  </div>
  <div class="modal-footer footer-sizes" *ngIf="!item.size">
    <div class="sizes-wrapper">
      <input
        [formControl]="productSize"
        type="radio"
        *ngFor="let size of sizes"
        [value]="size"
        name="shoeSize"
        [id]="size"
      />
      <label
        *ngFor="let size of sizes"
        [for]="size"
        [class.selected-size]="productSize.value === size"
        >{{ size }}</label
      >
    </div>
  </div>
</div>
