<nav class="container">
  <div class="nav-item logo" routerLink="/">YourStore.com</div>
  <div class="tools">
    <div class="nav-item search"><i class="fas fa-search"></i></div>
    <div class="nav-item cart" [routerLink]="['/cart']">
      <i class="fas fa-shopping-cart"></i>
      <div class="badge">{{ itemsCount }}</div>
    </div>
    <div class="nav-item menu" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
<div class="padding"></div>
<app-sidemenu></app-sidemenu>
