@import "~src/assets/styles/variables";

.disabled-scroll {
  height: calc(100vh - 56px);
  overflow: hidden;
}

.wrapper {
  // min-height: calc(100vh - 56px - 125px); // subtract navabar and footer
  min-height: calc(100vh - 56px); // subtract navabar
  height: calc(100vh - 56px); // subtract navabar
}
