<div class="container-padding">
  <h1 class="header">Delivery and payment</h1>
  <form [formGroup]="paymentForm">
    <h3 class="header-option">Delivery options:</h3>
    <div class="form-group" *ngFor="let delivery of deliveryOptions">
      <input
        type="radio"
        formControlName="deliveryInput"
        [value]="delivery.name"
        [id]="delivery.name"
        name="deliveryInput"
      />
      <label
        [for]="delivery.name"
        class="shadow"
        [class.selected]="deliveryInput.value === delivery.name"
      >
        <img *ngIf="delivery.imageSrc" [src]="delivery.imageSrc" alt="" />
        <i *ngIf="delivery.iconClass" [class]="delivery.iconClass"></i>
        <span>
          {{ delivery.label }}
        </span>
      </label>
    </div>

    <h3 class="header-option">Payment options:</h3>
    <div class="form-group" *ngFor="let payment of paymentOptions">
      <input
        type="radio"
        formControlName="paymentInput"
        [value]="payment.name"
        [id]="payment.name"
        name="paymentInput"
      />
      <label
        [for]="payment.name"
        class="shadow"
        [class.selected]="paymentInput.value === payment.name"
      >
        <img
          *ngIf="payment.imageSrc"
          [src]="payment.imageSrc"
          alt=""
          class="payU"
        />
        <i *ngIf="payment.iconClass" [class]="payment.iconClass"></i>
        <span>
          {{ payment.label }}
        </span>
      </label>
    </div>
    <button
      class="button step-back-button w-100"
      [routerLink]="['/checkout', 'shipping']"
      type="button"
    >
      Go back
    </button>
    <button
      type="submit"
      class="button checkout-button w-100"
      [class.disabled]="!paymentForm.valid"
      (click)="onSubmit()"
      [disabled]="!paymentForm.valid"
    >
      Continue
    </button>
  </form>
</div>
