<div class="container subcategory-container">
  <app-filters
    [options]="initialOptions"
    (values)="filterByPrice($event)"
    [sizeList]="sizeList"
  ></app-filters>
  <app-filters-button
    (click)="openFilters()"
    class="button-show-filters show-on-mobile"
    [toggleOn]="true"
    [thumbnail]="true"
  ></app-filters-button>
  <ul class="list product-list" *ngIf="productList?.length">
    <li class="list-item shadow" *ngFor="let product of productList">
      <app-product-card
        [product]="product"
        [productSizeNeeded]="ifShoeCategory"
      ></app-product-card>
    </li>
  </ul>
  <div class="no-products-found" *ngIf="!productList?.length">
    <span> No products found </span>
  </div>
</div>
