// colors
$brand-color: #141414;
$store-red: #ff554a;
$store-red-lighter: rgba(255, 85, 74, 0.7);

// height
$navbar-height: 3.5rem;
$height-cart-summary: 148px;
$height-viewport: calc(100vh - 56px);

// z-index:

$backdrop-z: 100;
$sidemenu-z: 110;

// breakpoints
// Small devices (landscape phones, 576px and up)
$xs-screen: 576px;

// Medium devices (tablets, 768px and up)
$md-screen: 768px;

// Large devices (desktops, 992px and up)
$xl-screen: 992px;

// Extra large devices (large desktops, 1200px and up)
$xxl-screen: 1200px;
