@import "~src/assets/styles/variables";

.container {
  background: #cccccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-button {
  padding: 8px;
  width: 100%;
}
